@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin:0;
  overflow: visible;
  font-family: Roboto, sans-serif;
  padding-bottom: 0;
  box-sizing:border-box;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* #################################################### */


.header {
  display:flex;
  justify-content:space-between;
}

.left-links {
  display:flex;
  list-style-type:none;
  padding:15px;
  gap:15px;
  
  
}

ul {
  margin:0
}

.right-links {
  display:flex;
  list-style-type:none;
  padding:15px;
  gap:15px;
}

a {
  text-decoration:none;
  color: grey;
}


.content{
  display:flex;
  flex-direction:column;
  align-items:center;
}

body {
  display:flex;
  flex-direction:column;
  justify-content:space-between
}

.footer {
  display:flex;
  justify-content: space-between;
  background-color: #eeeeee;

}


button{
  margin-top: 15px;
  padding:8px;
  padding-left:15px;
  padding-right:15px;
}
